<div id="sign">
  <img id="sign-image" src="<%= asset_path("cap-sign-outside-785x523.jpg") %>" />

  <div class="score" id="true-score">
    <div class="count"><%= @vote_counts['true'] %></div>
  </div>

  <div class="score" id="false-score">
    <div class="count"><%= @vote_counts['false'] %></div>
  </div>
</div>

<div id="voting-booth">
  <img id="voting-booth-img" src="<%= asset_path("voting-interface.jpg") %>" />

  <div class="button" id="true-button">
    <%= link_to '', true_vote_path(format: 'json'), remote: true, method: 'post' %>
  </div>

  <div class="button" id="false-button">
    <%= link_to '', false_vote_path(format: 'json'), remote: true, method: 'post' %>
  </div>
</div>


<div id="comments-wrapper">
  <!-- Facebook comments -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=284595151567695";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div id="comments" class="fb-comments" data-href="capitalismworksfor.me" data-num-posts="50" data-width="500"></div>
</div>